@import "buttons";

// Sección hero
.hero{
    padding-top: 59px;
    margin: 0 28px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(49.5%, 1fr));
    gap: 10px;
    .presentation-hero{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 20px;
        h1{
            font-size: 4rem;
            color: $color-green;
        }
        p{
            font-size: 2rem;
            font-family: $Secundary-tipografi;
        }
        div{
            display: flex;
            align-items: center;
            gap: 40px;
            a{
                @extend .link;
                font-family: $Secundary-tipografi;

                &#moreabout{
                    @extend .buttons;
                }
            }
        }
    }
    .picture-hero{
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            position: relative;
            height: auto;
            width: 100%;
        }
    }
}