/* Media Query */
@media screen and (max-width: 750px) {
    // Oculto el toggle bar
    .toggle{
        #menu{
            cursor: pointer;

            .bar{
                display: flex;
            }
        }
        .view{
            display: none;
            &.show{
                display: flex;
                flex-direction: column;
                position: absolute;
                background-color: $color-fondo;
                height: 300px;
                width: 100%;
                margin-top: 12px;
                margin-left: -20px;
                user-select: none;
                align-items: center;
                justify-content: space-around;
                animation: showAnimation 1.5s;
            }
            &.hidden{
                animation: hiddenAnimation 1s;
            }
        }
    }
}
