@import url("https://fonts.googleapis.com/css2?family=Amaranth&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Amaranth", sans-serif;
}

body {
  background-color: #F8F8F8;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
  font-weight: bold;
  background-color: #F8F8F8;
  padding: 10px 0px;
}
.container.sticky {
  position: fixed;
  width: 100%;
  z-index: 100;
}

.toggle {
  margin-left: 20px;
}
.toggle #menu .bar {
  display: none;
  margin-top: 3px;
  height: 5px;
  width: 30px;
  border-radius: 12px;
  background-color: #458A69;
}

.status {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-right: 20px;
  cursor: pointer;
}
.status .bar-status {
  align-self: flex-end;
  margin-right: 10px;
  height: 10px;
  width: 30px;
  border-radius: 15px;
  background-color: #458A69;
}

.view {
  display: flex;
  flex-direction: row;
  padding: 0;
}
.view li {
  padding: 0px 10px;
  list-style: none;
}
.view li a {
  text-decoration: none;
}
.view li a.active {
  color: #000000;
}
.view li a.inactive {
  color: #6C6C6C;
  font-weight: normal;
}

.buttons, .hero .presentation-hero div a#moreabout {
  padding: 20px;
  border: 0;
  border-radius: 8px;
  background-color: #458A69;
  color: white;
  box-shadow: 0 0 10px #458A69;
  font-size: 1.5rem;
  cursor: pointer;
}
.buttons:hover, .hero .presentation-hero div a#moreabout:hover {
  background-color: black;
  box-shadow: 0 0 10px black;
  animation: button-frame 1s;
}

.link, .hero .presentation-hero div a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #458A69;
}
.link:hover, .hero .presentation-hero div a:hover {
  color: black;
  animation: link-frame 1s;
}

@keyframes button-frame {
  from {
    background-color: #458A69;
    box-shadow: 0 0 10px #458A69;
  }
  to {
    background-color: black;
    box-shadow: 0 0 10px black;
  }
}
@keyframes link-frame {
  from {
    color: #458A69;
  }
  to {
    color: black;
  }
}
.hero {
  padding-top: 59px;
  margin: 0 28px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(49.5%, 1fr));
  gap: 10px;
}
.hero .presentation-hero {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 20px;
}
.hero .presentation-hero h1 {
  font-size: 4rem;
  color: #458A69;
}
.hero .presentation-hero p {
  font-size: 2.2rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.hero .presentation-hero div {
  display: flex;
  align-items: center;
  gap: 40px;
}
.hero .presentation-hero div a {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.hero .picture-hero {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero .picture-hero img {
  position: relative;
  height: auto;
  width: 100%;
}

/* Media Query */
@media screen and (max-width: 750px) {
  .toggle #menu {
    cursor: pointer;
  }
  .toggle #menu .bar {
    display: flex;
  }
  .toggle .view {
    display: none;
  }
  .toggle .view.show {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #F8F8F8;
    height: 300px;
    width: 100%;
    margin-top: 10px;
    margin-left: -20px;
    user-select: none;
    align-items: center;
    justify-content: space-around;
    animation: showAnimation 1.5s;
  }
  .toggle .view.hidden {
    animation: hiddenAnimation 1s;
  }
}
/* Animaciones */
@keyframes showAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes hiddenAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/*# sourceMappingURL=style.css.map */
